{% extends 'base.html.twig' %}


{% block body %}

    <div class="ui divider hidden"></div>
    <div class="ui divider hidden"></div>
    <div class="ui grid centered container">
        <div class="four wide column">
            <h1 class="header">Wij zijn klaar!</h1>
            <p>
                Er zijn geen nieuwe deelnames meer nodig, toch bedankt!
            </p>
        </div>


    </div>

{% endblock %}