{% extends 'base.html.twig' %}


{% block body %}

    <div class="ui divider hidden"></div>
    <div class="ui divider hidden"></div>
    <div class="ui grid centered container">
        <div class="four wide column">
            <h1 class="header">Bedankt!</h1>
            <p>
                Bedankt voor het meedoen!
            </p>
        </div>
    </div>

{% endblock %}